<p id="notice"><%= notice %></p>

<p>
  <strong>Objet de l'email:</strong>
  <%= @email.object %>
</p>

<p>
  <strong>Email:</strong>
  <%= @email.body %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
